@charset "utf-8";
body {
	background-color: #328A3A;
}
.jumbotron {
	background-color: #22B345;
	color: aliceblue;
}
h1 {
	color: aliceblue;
}
.btn-lg {
	background-color: #22B345;
}
.bg-red {
	background-color:#22B345;
}
.bg-blue {
	background-color: #22B345;
}
a {
	color:#000000;
	text-decoration-line: underline;
}